.card {
    width: percentage(3/12);
    float: left;
    margin: 0 $column_gutter;
    display: flex;
    flex-direction: column;
    background: $sand;

    @include target-metro {
        display: block;
    }

    &-deck {
        width: 100%;
        display: flex;
        margin-bottom: $column_gutter;

        &--alternate {
            width: 100%;
            margin-bottom: $column_gutter;
            display: flex;
            min-height: 100%;
            position: relative;

            &-pseudo-tatic {
                width: 100%;
                margin-bottom: $column_gutter;
                display: flex;
                min-height: 100%;
            }
        }
    }

    &--alternate {
        width: percentage(3/12);
        padding: 0 $column_gutter;
        float: left;

        .img__wrapper--alternate {
            height: 0;
            padding-top: 100%;
            max-height: 3/12*100vw;
            overflow-y: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-pseudo-tatic {
            width: percentage(3/12);
            padding: 0 $column_gutter;
            float: left;
        }

    }

    .img__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2 2 auto;
        background: white;

        @include target-metro {
            display: block;
            flex-direction: initial;
            justify-content: initial;
            align-items: initial;
            flex: initial;
            height: 21vw;
            vertical-align: middle;
            position: relative;

            img {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

    }

}

.img__wrapper--alternate-pseudo-tatic {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Pseudo Tatic Approach
[style*="--aspect-ratio"] {
    &> :first-child {
        width: 100%;
    }
    
    &>img {
        height: auto;
    }
}
*/

/*@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;

        &::before {
            content: "";
            display: block;
            //padding-bottom: calc(100% / (var(--aspect-ratio)));
        }

        &> :first-child {
            position: absolute;
            top: 50%; // 0 0 makes a cover 50% 50% centralizes
            left: 50%;
            height: auto; // 100% cover auto makes default height
            transform: translate(-50%, -50%);
        }
    }
}*/