.container {
    padding: 0 $column_gutter;
    margin-top: $card_gutter;
    min-height: 250px;

    @include hyphens();

    @include target-metro {
        min-height: 0;
        margin-top: 0;
    }

    &--alternate {
        @include hyphens();
    }
}